# Topic Modeling

## BERTopic

https://maartengr.github.io/BERTopic/index.html

In [37]:
import pandas as pd
from bertopic import BERTopic
import re

In [69]:
# read Data
PATH_DATA = "../data/final/tweets_66DaysofData.csv"
df = pd.read_csv(PATH_DATA)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40121 entries, 0 to 40120
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    40121 non-null  int64
 1   user_id     40121 non-null  int64
 2   user_name   40121 non-null  object
 3   created_at  40121 non-null  object
 4   full_text   40121 non-null  object
 5   retweets    40121 non-null  int64
 6   favorite    40121 non-null  int64
dtypes: int64(4), object(3)
memory usage: 2.1+ MB

Todo: 
- remove links in tweets
- remove '#66DaysofData' -> no meaning, is in every tweet
- remove '@KenJee_DS' -> no meaning

In [70]:
docs = list(df["full_text"].values)

In [71]:
len(docs)

40121

In [72]:
# remove links
def replace_links(df:pd.DataFrame) -> str:
    """
    Funciton to replace links
    """
    link_re = re.compile('http://\S+|https://\S+')
    str_global = ''

    for x in range(len(df.iloc[:100,])):
        str_ = df['full_text'][x]
        re_ = re.sub(link_re, '', str_)
        str_global += re_ + ' ' 

    return str_global

In [73]:
# no links
docs_no_links = []
link_re = re.compile('http://\S+|https://\S+')
for doc in docs:
    re_ = re.sub(link_re, '', doc)
    docs_no_links.append(re_)

In [81]:
# remove '#66DaysofData'
docs_no_hashtag = []
hashtag_re = re.compile('#66[D,d]ays[O,o]f[D,d]ata')
for doc in docs_no_links:
    re_ = re.sub(hashtag_re, '', doc)
    docs_no_hashtag.append(re_)

In [75]:
"""
# remove '@KenJee_DS'
docs_no_mention = []
mention_re = re.compile('@KenJee_DS')
for dco in docs_no_hashtag[:10]:
    print(doc)
    re_ = re.sub(mention_re, '', doc)
    print(re_)
    docs_no_mention.append(re_)
"""

"\n# remove '@KenJee_DS'\ndocs_no_mention = []\nmention_re = re.compile('@KenJee_DS')\nfor dco in docs_no_hashtag[:10]:\n    print(doc)\n    re_ = re.sub(mention_re, '', doc)\n    print(re_)\n    docs_no_mention.append(re_)\n"

In [89]:
docs_no_mention = []
mention_re = re.compile('@KenJee_DS')
for doc in docs_no_hashtag:
    re_ = re.sub(mention_re, '', doc)
    docs_no_mention.append(re_)

In [90]:
docs_no_mention[:20]

[' looking forward to ',
 'Very excited to announce the  initiative that I am starting September 1! I encourage you to participate by spending at least 5 minutes learning data science for 66 days straight. All you have to do is tweet what you are working on each day! ',
 ' Looking fwd to ',
 'Let’s start  ',
 ' count me in ',
 'Excited to start  with . ',
 " Very excited about ! I'm in ",
 'Very proud to start ',
 'Super Excited to start with  Challenge ! ',
 'Day 1 of  Right now I’m studying Functional Programming. First Im understanding the Python language and then applying this concepts to data science cases.  ',
 '\n\nVery Excited to Learn and Start. \n\nRight Now for the Following 3 days I will be learning Python for Data Science and ML Course on Udemy. \n\nWish you all a Happy Journey into Data Science',
 "Sorry, but I can't wait! so I'm starting today! :D  ",
 'Bring on the challenge!\n',
 ' This is great! I’m learning DS right now so this new series by Ken will be extremely beneficial for me. Right now I’m working on loops. \n\n',
 ' Great initiative Ken count me in ',
 " I'm in for this ",
 ' Looking forward to this ',
 " I'm in ",
 ' Started the  challenge. Completed the basics of Numpy today, and will be practising a few basic problems on W3schools.',
 ' Thanks ken...for sharing ...I will be participating in this actively 🔥... ']

In [91]:
topic_model = BERTopic()
topics, probs = topic_model.fit_transform(docs_no_mention)

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

In [93]:
topic_model.get_topic_info()

     Topic  Count                                        Name
0       -1  14730                           -1_my_and_data_to
1        0   1523  0_pandas_dataframes_dataframe_manipulation
2        1    687    1_tableau_dashboard_visualization_public
3        2    444  2_sports_sportsanalytics_sportsscience_nba
4        3    439           3_excel_pivot_sheets_spreadsheets
..     ...    ...                                         ...
435    434     10       434_source_researchers_3d_subnetworks
436    435     10  435_othersnow_kaggletps_resourcesive_notch
437    436     10        436_sql_statement_select_capitalized
438    437     10      437_adventofcode2020_memory_deep_epoch
439    438     10           438_math_steady_parabola_graphing

[440 rows x 3 columns]

In [96]:
topic_model.get_topic(0)

[('pandas', 0.030089901526128556),
 ('dataframes', 0.009101151499279913),
 ('dataframe', 0.00894642367665506),
 ('manipulation', 0.005434391141161202),
 ('merging', 0.0051516301467771095),
 ('numpy', 0.0051007582629295075),
 ('indexing', 0.0049845891342558705),
 ('groupby', 0.004704560878679829),
 ('loc', 0.004472518600210009),
 ('columns', 0.004460440618053577)]

In [101]:
topic_model.get_document_info(docs_no_mention)

,Document,Topic,Name,Top_n_words,Probability,Representative_document
0,looking forward to,88,88_starting_excited_start_late,starting - excited - start - late - tomorrow -...,0.483574,False
1,Very excited to announce the initiative that ...,37,37_challenge_journey_participate_excited,challenge - journey - participate - excited - ...,0.450561,True
2,Looking fwd to,16,16_r4_r3_packtpub_d42,r4 - r3 - packtpub - d42 - golf - r2 - d39 - 3...,0.518637,False
3,Let’s start,88,88_starting_excited_start_late,starting - excited - start - late - tomorrow -...,0.422216,False
4,count me in,88,88_starting_excited_start_late,starting - excited - start - late - tomorrow -...,0.447060,False
...,...,...,...,...,...,...
40116,"Day 03 - SQL -- SQL Basic clauses -- SELECT, W...",248,248_order_group_select_where,order - group - select - where - syntax - clau...,1.000000,True
40117,"🏆 Day7 of \n\n✅ Today, I read the paper Attent...",81,81_clash_code_coding_errors,clash - code - coding - errors - checklist - f...,1.000000,False
40118,Day 31 of \nOrganized my SQL code and synced ...,83,83_dashboard_amplitude_dashboards_dash,dashboard - amplitude - dashboards - dash - ou...,0.246693,False
40119,Day43 of .\nPreparation of Japan statistical s...,291,291_society_japan_grade_preparation,society - japan - grade - preparation - certif...,1.000000,False
40120,Day 21 of R4!\n\n- An article from Abid Ali A...,357,357_gpt3_barousse_dataanalyst_luke,gpt3 - barousse - dataanalyst - luke - openai ...,1.000000,False

In [102]:
filter_idx = df[df["user_name"] == "MarkusM99098101"].index

In [106]:
topic_df = topic_model.get_document_info(docs_no_mention)
topic_df.iloc[filter_idx]

,Document,Topic,Name,Top_n_words,Probability,Representative_document
83,"Learning DS since January, now committing to :...",-1,-1_my_and_data_to,my - and - data - to - the - day - of - for - ...,0.000000,False
198,Day 1 of : Today I worked on my stock analysis...,191,191_trading_indicators_market_trade,trading - indicators - market - trade - system...,0.298689,False
378,Day 2 of : Today I made a lot of progress on ...,191,191_trading_indicators_market_trade,trading - indicators - market - trade - system...,0.292834,False
520,Day 3 of : Today I learned about and implemen...,-1,-1_my_and_data_to,my - and - data - to - the - day - of - for - ...,0.000000,False
680,"Day 4 of , made an account on HackerRank, did ...",305,305_hackerrank_codewars_productivity_sql,hackerrank - codewars - productivity - sql - p...,1.000000,False
...,...,...,...,...,...,...
15627,Day 63 of r2: started watching and watched th...,-1,-1_my_and_data_to,my - and - data - to - the - day - of - for - ...,0.000000,False
15716,Day 64 of r2: watched the new video in the Ge...,-1,-1_my_and_data_to,my - and - data - to - the - day - of - for - ...,0.000000,False
15744,Day 65 of r2: spend some time working on the ...,308,308_tidytuesday_rstats_contribution_weeks,tidytuesday - rstats - contribution - weeks - ...,1.000000,False
15768,In Round 2 I was mainly focused on:\n- learnin...,50,50_machine_learning_ml_chapter,machine - learning - ml - chapter - python - p...,0.330318,False
15769,Day 66 of r2: on the final day I kept working...,308,308_tidytuesday_rstats_contribution_weeks,tidytuesday - rstats - contribution - weeks - ...,1.000000,False

In [107]:
topic_df.iloc[filter_idx].iloc[4]["Document"]

'Day 4 of , made an account on HackerRank, did the first problem solving tasks for Python and SQL.'

In [108]:
# test reduce topics
topic_model.reduce_topics(docs, nr_topics=50)

In [109]:
topic_model.get_topic_info()

    Topic  Count                                               Name
0      -1  14730                         -1_of_66daysofdata_the_and
1       0  11983                           0_66daysofdata_of_the_to
2       1   1831                             1_pandas_numpy_day_and
3       2   1074       2_statistics_logistic_regression_probability
4       3    957           3_visualization_matplotlib_plots_seaborn
5       4    928                       4_sql_databases_joins_python
6       5    823                    5_tableau_linkedin_dashboard_on
7       6    703                     6_neural_deep_networks_network
8       7    700                    7_linear_regression_algebra_pca
9       8    685                8_web_scraping_javascript_portfolio
10      9    495                  9_excel_pivot_sheets_spreadsheets
11     10    472                               10_eda_de_dataset_en
12     11    444                  11_sports_sportsanalytics_our_nba
13     12    392     12_of66daysofdatacompleted_day_66daysofdata_of
14     13    365                       13_azure_aws_cloud_microsoft
15     14    350               14_gradient_descent_validation_ridge
16     15    321  15_100daysofcode_mlzoomcamp_algrigor_datatalks...
17     16    301                       16_spark_series_pyspark_time
18     17    247                     17_decision_random_tree_forest
19     18    220                             18_git_github_shell_to
20     19    168              19_titanic_kaggle_dataset_competition
21     20    164                   20_testing_hypothesis_ab_pvalues
22     21    148                      21_covid19_covid_vaccine_data
23     22    136              22_pipelines_airflow_pipeline_leakage
24     23    124                 23_dashboard_dash_freelance_round4
25     24    114             24_imbalanced_smote_fraud_oversampling
26     25    112                   25_tensorflow_tensors_tensor_gpu
27     26    111                 26_jupyter_notebook_notebooks_code
28     27    105  27_tuning_hyperparameter_hyperparameters_grids...
29     28     94                            28_django_flask_app_api
30     29     90    29_correlation_covariance_coefficient_causation
31     30     84      30_66daysofwellsleeping_slept_hours_leisurely
32     31     73                 31_geospatial_folium_geopandas_map
33     32     70              32_xgboost_lightgbm_boosting_gradient
34     33     68  33_scaling_preprocessing_normalization_standar...
35     34     65        34_bioinformatics_molecular_drug_similarity
36     35     46                  35_docker_containers_devops_mlops
37     36     44  36_womenwhocode_inovatesystems_womeninstem_wom...
38     37     40             37_bias_fairness_variance_biasvariance
39     38     39            38_hackathon_team_working_participating
40     39     32                     39_heart_diabetes_disease_pima
41     40     28                     40_react_javascript_reactjs_js
42     41     28              41_shap_shapley_values_explainability
43     42     27                             42_api_apis_fastapi_to
44     43     18                           43_pycharm_code_pip_used
45     44     16                         44_mimo_java_forgot_little
46     45     16             45_weather_temperature_features_states
47     46     15                 46_iris_irisdataset_dataset_ocular
48     47     14              47_monte_carlo_simulations_simulation
49     48     11                              48_ocr_pdf_files_pdfs